@font-face {
  font-family: mainFont;
  src: url(../../fonts/mainFont.ttf);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#lds-roller {
  margin: 20px 0;
  display: none;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

#lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1e2e74;
  margin: -4px 0 0 -4px;
}

#lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

#lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

#lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

#lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

#lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

#lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

#lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

#lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

#lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

#lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

#lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

#lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

#lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

#lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

#lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

#lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: mainFont;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.uploadVideos {
  width: max-content;
  min-width: 300px;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.uploadVideos #previewVideo {
  display: none;
  margin-bottom: 15px;
}
section.uploadVideos #border {
  border: 2px solid #ccc;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
section.uploadVideos #border input[type=file]::file-selector-button {
  margin: 2px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
section.uploadVideos #border input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
section.uploadVideos #uploadButton {
  border: 0;
  border-radius: 5px;
  background-color: rgb(17, 79, 204);
  color: #95d0d0;
  padding: 10px 25px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}
section.uploadVideos #uploadVideoForm .userInfo {
  border: 3px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
}
section.uploadVideos #uploadVideoForm .userInfo input {
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  font-size: 18px;
  width: 100%;
  border: 0;
}
section.uploadVideos #uploadVideoForm .userInfo textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
}

/*# sourceMappingURL=style.css.map */
