<!DOCTYPE html>
<html lang="ar">
<head>
    <%- include('./partials/_head.ejs') %>
    <title>Mo5alafa</title>
</head>
<body dir="rtl">


    <div class="container">
        <section class="uploadVideos">
            <video id="previewVideo" width="280" height="180" controls>
                Your browser does not support the video tag.
            </video>
            <div id="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <form id="uploadVideoForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="videoInput">
                    <h1>رفع الفيديو</h1>
                </label>
                <div id="border">
                    <input type="file" id="videoInput" name="userVideo" accept="video/*" required>
                </div>
                <label for="NumberPlate">
                    <h1>لوحة السيارة</h1>
                </label>
                <div class="userInfo">
                    <input id="NumberPlate" type="text" name="NumberPlate" requird>
                </div>
                <label for="userName">
                    <h1>اسمك</h1>
                </label>
                <div class="userInfo">
                    <input id="userName" type="text" name="userName" requird>
                </div>
                <label for="userNumber">
                    <h1>رقم هاتفك</h1>
                </label>
                <div class="userInfo">
                    <input id="userNumber" type="tel" name="userNumber">
                </div>
                <label for="userDescription">
                    <h1>الوصف</h1>
                </label>
                <div class="userInfo">
                    <textarea name="userDescription" id="userDescription" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" id="uploadButton">Upload</button>
            </form>
        </section>
    </div>
    
</body>
</html>