<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
    <title>Mo5alafa</title>
</head>
<body>
    <div id="spinner"></div>


    <section class="uploadVideos">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="videoInput" name="userVideo">
            <button type="button" id="uploadButton">Upload</button>
          </form>
    </section>
    
</body>
</html>